<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css" />
    <title>Eat-Da-Burger!</title>

    <link rel="shortcut icon" type="image/x-icon"
        href="https://freeiconshop.com/wp-content/uploads/edd/burger-flat.png" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    {{{ body }}}

    <script src="../models/burger.js"></script>
</body>

</html>
