<header class="p-4 bg-primary text-white text-center d-flex justify-content-center">
    <h1 class="m-0">Eat-Da-Burger!</h1>
    <i class="fas fa-hamburger fa-3x px-3"></i>
</header>

<main class="container p-0 my-4 text-white d-flex">
    <div class="col p-4 mx-2 bg-primary rounded">
        <div class="d-flex align-items-center">
            <h2>Waiting List</h2>
            <i class="fas fa-utensils fa-2x px-3"></i>
        </div>
        <hr class="border-white">

        <ul class="list-group text-primary py-3">
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col p-4 mx-2 bg-primary rounded">
        <div class="d-flex align-items-center">
            <h2>Add a Burger</h2>
            <i class="fas fa-plus fa-2x px-3"></i>
        </div>
        <hr class="border-white">

        <form class="align-content-center">
            <input type="text" name="burger-name" id="burger-name" class="p-2 my-3 border-0 rounded w-100">
            <button type="submit" class="btn btn-outline-light my-2">Submit</button>
        </form>
    </div>

    <div class="col p-4 mx-2 bg-primary rounded">
        <div class="d-flex align-items-center">
            <h2>Eaten Burgers</h2>
            <i class="fas fa-drumstick-bite fa-2x px-3"></i>
        </div>

        <hr class="border-white">

        <ul class="list-group text-primary py-3">
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
</main>
